*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    padding: 1em;
}
#content{
    width: 800px;
    margin: 0 auto;
}
#header{
    height: 50px;
    background-color: #8f8f8f;
}
#footer{
    height: 50px;
    background-color: #2036f7;
    text-align: center;
}

/* Menu start*/
#menu ul{
    list-style-type: none;
    background-color: #2036f7;
    text-align: center;
    overflow: hidden;
    
}
#menu ul li{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 90px;
}
#menu ul li a{
    color: #FFFFFF;
    font-weight: bold;
}

/* flex-content */
#flex-content{
    display: flex;
    flex-direction: row;
}
/* flex items 1 */
#col-items-1{
    flex-basis: 250px;
}
#col-items-1 ul{
    list-style-position: inside;
    margin-left: 1em;
}

#flex-content-left-row-1{
    height: 150px;
    background-color: #fefb3b;
}
#flex-content-left-row-2{
    height: 150px;
    background-color: #8f8f8f;
}
/* flex items 2 */
#col-items-2{
    flex-basis: 550px;
}
#flex-content-right-row-2{
    display: flex;
    flex-direction: row;
    height: 128px;
}
#flex-content-right-row-2-1{
    background-color: #4e8b20;
    width: 50%;
}
#flex-content-right-row-2-2{
    background-color: #dc2b06;
    width: 50%;
}
