html{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #000000;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;

}
.info i{
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: none;
    color: rgb(0, 4, 252);
}
.title-content{
    text-align: left;
    padding: 10px;
    margin: 0 10px 0 10px;
    text-indent: 20px;
}
ol, ul{
    list-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*module header*/
.header-container{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 690px;
    text-align: center;
    padding: 10px;
}
.name{
    font-size: 25px;
    color: #902063;
    width: 50%;
    padding-top: 5px;
    text-align: left;
    text-indent: 60px;
    text-shadow: #000000 1px 1px 3px;
}
.class{
    font-size: 18px;
    width: 45%;
    color: #ffffff;
    background-color: #902063;
    padding-top: 5px;
}
/*module header*/

.content-container{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #ffffff;
    padding: 10px;
    width: 690px;
    text-align: center;
}
.img-circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: #661345 solid 5px;
}
.id-content{
    background-color: #902063;
    padding-top: 10px;
    color: #ffffff;
}
.info{
    background-color: #661345;
    text-align: left;
    padding: 10px;
    margin: 0 10px 0 10px;
    text-indent: 20px;
}

/*module progress*/
.progress-bar, .progress-bar span{
    height: 10px;
    width: 80%;
    background-color: #ffffff;
	display: block;
}
.progress-bar{
    background-color: #661345;
}
.flex--1 > span{
    text-align: left;
    text-indent: 20px;
}
.module-progress-content li{
    margin-bottom: 10px
}

/*moduele infomation-content*/
.infomation-content{
    text-align: left;
    text-indent: 20px;
    padding: 10px;
}
.infomation-content h2::after{
    content: '';
    display: block;
    width: 40%;
    position: absolute;
    height: 5px;
    background: #902063;
    right: 0;
}
.flex {
    display: flex;
    align-items: center;
}
.flex .flex--1 {
	flex: 1;
}

.circle {
	font-size: 14px;
	color: #ffffff;
	background: #661345;
	border-radius: 50%;
	text-align: center;
	margin-right: 20px;
}
.circle.circle--large {
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.circle.circle--medium {
	width: 42px;
	height: 42px;
	line-height: 42px;
}
.circle.circle--small {
	width: 30px;
	height: 30px;
    line-height: 30px;
    text-align: center;
}
.circle.circle--white {
	color: #661345;
	background: #ffffff;
}